<div id="vue-area">
  <!-- 新規登録フォーム -->
  <form v-on:submit.prevent="onCreate">
    <input type="text" v-model="input_text" place-holder="TODO アイテムを入力"></input>
    <input type="submit"></input>
  </form>

  <!-- 登録済みデータ一覧 -->
  <p v-if="loading">Loading...</p>

  <template v-else>
    <div v-for="element in list" class="reminder-list">
      <input type="text" v-model="element.title"></input>
      <span>{{ element.term }}<span>
    </div>
  </template>
</div>

<script type="text/javascript">
  function callApiCreate(vm) {
    $.ajax({
      type: "POST",
      url: '/api/create',
      data: {
        command: 'create',
        options: {
          title: vm.input_text
        }
      },
      success: function (response) {
        let output = JSON.parse(response.output);
        console.log(output);
        vm.input_text = '';
        //that.sending = false;
        setTimeout(function(){ callApiList(vm); }, 100);
      },
      error: function () {
        //that.sending = false;
        alert("エラーが発生しました。");
      }
    });
  }

  function callApiList(vm) {
    $.ajax({
      type: "GET",
      url: '/api/list',
      success: function (response) {
        let output = JSON.parse(response.output);
        console.log(output);
        vm.list = output.list;
        vm.loading = false;
      },
      error: function () {
        alert("エラーが発生しました。");
      }
    });
  }

  var vm = new Vue({
    el: '#vue-area',
    data: {
      input_text: '',
      loading: true,
      list: []    // view model
    },
    created: function() {
      this.fetchData();
    },
    methods: {
      fetchData: function() {
        callApiList(this);
      },
      onCreate: function() {
        callApiCreate(this);
      }
    }
  });
</script>
